#box{
    background-color: blue;
    /* color: white; */
}

.heading {
    color:red;
}

button{
    background-color: blueviolet;
}
h1 {
    text-align: center;
    text-decoration: blue underline;
}
h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#one{
    font-size: 50px;
    font-style: italic;
    text-transform: capitalize;
    
}